<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%xThrowable%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %class\(%L\) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>webapp.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%xThrowable%d{yyyyMMdd HH:mm:ss.SSS} %-5level %logger %class\(%L\) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.fcsr.manager" level="trace"/>
    <logger name="org.springframework" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>